	body {
		font-style: 'helvetica';
	}
	
	.selectpicker {
		float: left !important;
		font-weight: bolder;
		width: 100%;
	}
	
	.headerBar {
		display: inline-block;
		width: 100%;
		background: #FFB75E;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	.bestcoin {
		color: white;
		text-shadow: -1px 1px dimgrey;
		text-align: center;
		margin-left: 5em;
		margin-top: 0px;
		font-size: 1.5em;
		font-weight: bolder;
		display: inline-block;
	}
	
	#block-container {
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.block {
		width: 250px;
		display: inline-block;
		margin-left: 5em;
		margin-top: 5em;
		font-weight: bolder;
		padding: 30px;
		height: 250px;
		border-radius: 50%;
		text-align: center;
		background: #FFB75E;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		box-shadow: 1px 3px 20px black;
	}
	
	.block hr {
		color: black;
	}
	
	.block-header {
		text-shadow: -1px 1px dimgrey;
		margin-top: 15%;
		font-size: 2em;
		color: white;
	}
	
	.block-data {
		font-size: 1.2em;
	}
